h2{
    text-align: center;
    padding-top: 10px;
}

#containerForm{
    margin-top: 25px;
    border-style: solid;
    border-width: thin;
}

#containerCard{
    margin-top: 25px;
    margin-bottom: 30px;
}

.card{
    text-align: center;
    margin: auto;
}

.card-body{
    background-color: red;
}