.grid, .restarton {
	width: 750px;
	height: 600px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

body {
	background-color: black;
	overflow: hidden;
}

.grid div {
	width: 50px;
	height: 40px;
}

.invader {
	border-radius: 10px;
	background-image:url(/imagens/invader.png);
	background-size: 50px;
	background-repeat: no-repeat;
}

.shooter {
	background-image:url(/imagens/shooter.png);
	background-size: 50px;
	background-repeat: no-repeat;
}

.laser {
	background-image:url(/imagens/lazer.webp);
	background-size: 50px;
	background-repeat: no-repeat;
}

.boom {
	background-image:url(/imagens/boom.png);
	background-size: 50px;
	background-repeat: no-repeat;
}

.results, .resultstotal {
	color: white;
	padding-right: 11%;
}

.score, .scoretotal {
	color: white;
	padding-right: 5%;

}

.startbtn {
	background: #881400;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	text-transform: uppercase;
	width: auto;
	margin: auto;
	min-width: 200px;
	padding: .5rem;

	&:focus,
	&:hover {
		background: #A81000;
	}
}

.resetbtn {
	background: #0000BC;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	text-transform: uppercase;
	width: auto;
	margin: auto;
	min-width: 200px;
	padding: .5rem;

	&:focus,
	&:hover {
		background: #0000FC;
	}
}

html {
	font-family: 'VT323', monospace ;
	font-size: 24px;
}

.ScoreBoard {
	display: flex;
}

.Score {
padding-right: 5%;
}
